.logo-quizz {
    margin: 4em 0 0 0;
    flex-direction: row;
    text-align: center;
 }

.card-area {
    display: flex;
    flex-direction: column;
    margin: 2% 30% 5% 30%; 
    padding: 10%;
    border-radius: 5%;
    background-color: white;
    align-self: top;
    box-shadow: inset;
}

.card-question {
    flex-direction: column;
    font-size: 1em;
    font-family: sans-serif;
    color: lightgray;
    text-align: center;
}

.flip-card {
    flex-direction: column;
    font-size: 1em;
    font-family: sans-serif;
    color: rgb(170, 170, 170);
    text-align: center;
    margin-top: 50px;
}

.card-question-text {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
    color: black;
}

.card-button {
    margin: 4em 0 0 0;
    flex-direction: row;
    text-align: center;
}

.button {
    width: 150px;
    padding: 0.5em;
    border-radius: 5%;
    border: 0.5px solid rgba(0, 0, 0, .2);
}

.button:hover {
    opacity: 1;
    transform: scale(0.90);
    transition: transform 0.5s;
}

.button-incorrect {
    background-color: rgb(255, 61, 61);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
}

.button-correct {
    background-color: rgb(43, 163, 69);
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.score {
    height: 3em;
    margin-top: .5em;
    padding: 1em 0 1em 0;
    border: 1px solid lightgrey;
    border-radius: 1%;
}

.score-text {
    margin: 0;
    font: 1em;
    font-family: sans-serif;
    text-align: center;
}

.points {
    color: darkorange;
    
}
.accuracy {
    color: lightgray;
}